.rpv-core__viewer::-webkit-scrollbar {
  width: 4px;
}
.rpv-core__viewer::-webkit-scrollbar-track {
  background: #1a1a1a;
}
.rpv-core__viewer::-webkit-scrollbar-thumb {
  background: #333;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
